doctype 5
| <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
| <!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
| <!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
| <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  title #{title}
  meta(name="viewport", content="width=device-width")
  link(rel="canonical", href="#{canonical}")
  block css
    link(rel="stylesheet",href="/css/main.min.css")

  script(src="/js/lib/modernizr-2.6.2.min.js")

body
  div.page-wrapper
    div.container
      header#hd
        div.logo-wrapper
          img(src='/media/logo.png')
        div.mod.panel-a

      div#bd

      div#ft
        div.row.bg-lightTan
      
      block scripts
        script(src="/js/site.min.js")

      | <script>var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));</script>
| </html>