/** Reset **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Arial, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: bold;
}
button {
  border: none;
}
button:hover {
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.dark-blue-example {
  background: #2b4e62;
  /* Old browsers */

  background: -moz-linear-gradient(top, #2b4e62 0%, #1c1e35 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b4e62), color-stop(100%, #1c1e35));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2b4e62 0%, #1c1e35 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2b4e62 0%, #1c1e35 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2b4e62 0%, #1c1e35 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #2b4e62 0%, #1c1e35 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2b4e62', endColorstr='#1c1e35', GradientType=0);
  /* IE6-9 */

}
.gradient-white {
  background-color: #f9f9f5;
  background-image: -moz-linear-gradient(top, #fdfdfd, #f2f2e8);
  background-image: -ms-linear-gradient(top, #fdfdfd, #f2f2e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f2f2e8));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #f2f2e8);
  background-image: -o-linear-gradient(top, #fdfdfd, #f2f2e8);
  background-image: linear-gradient(top, #fdfdfd, #f2f2e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f2f2e8', GradientType=0);
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: 20px;
}
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.span16 {
  width: 940px;
}
.span15 {
  width: 880px;
}
.span14 {
  width: 820px;
}
.span13 {
  width: 760px;
}
.span12 {
  width: 700px;
}
.span11 {
  width: 640px;
}
.span10 {
  width: 580px;
}
.span9 {
  width: 520px;
}
.span8 {
  width: 460px;
}
.span7 {
  width: 400px;
}
.span6 {
  width: 340px;
}
.span5 {
  width: 280px;
}
.span4 {
  width: 220px;
}
.span3 {
  width: 160px;
}
.span2 {
  width: 100px;
}
.span1 {
  width: 40px;
}
.offset16 {
  margin-left: 980px;
}
.offset15 {
  margin-left: 920px;
}
.offset14 {
  margin-left: 860px;
}
.offset13 {
  margin-left: 800px;
}
.offset12 {
  margin-left: 740px;
}
.offset11 {
  margin-left: 680px;
}
.offset10 {
  margin-left: 620px;
}
.offset9 {
  margin-left: 560px;
}
.offset8 {
  margin-left: 500px;
}
.offset7 {
  margin-left: 440px;
}
.offset6 {
  margin-left: 380px;
}
.offset5 {
  margin-left: 320px;
}
.offset4 {
  margin-left: 260px;
}
.offset3 {
  margin-left: 200px;
}
.offset2 {
  margin-left: 140px;
}
.offset1 {
  margin-left: 80px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span16 {
  width: 134.042553178%;
  *width: 133.9893616886383%;
}
.row-fluid .span15 {
  width: 125.531914881%;
  *width: 125.4787233916383%;
}
.row-fluid .span14 {
  width: 117.02127658399999%;
  *width: 116.96808509463828%;
}
.row-fluid .span13 {
  width: 108.510638287%;
  *width: 108.4574467976383%;
}
.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}
.row-fluid .span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}
.row-fluid .span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}
.row-fluid .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}
.row-fluid .span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}
.row-fluid .span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}
.row-fluid .span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}
.row-fluid .span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}
.row-fluid .span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}
.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}
.row-fluid .span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}
.row-fluid .span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
}
.container-fluid:after {
  clear: both;
}
/* BASE */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
body {
  font-size: 12px;
  color: #636363;
}
body {
  background: #fff;
}
a,
a:visited,
a:active {
  color: #636363;
  text-decoration: none;
}
a:hover {
  color: #2d81a7;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1,
.h1 {
  font-size: 167%;
}
h2,
.h2 {
  font-size: 150%;
}
h3,
.h3 {
  font-size: 133.33%;
}
h4,
.h4 {
  font-size: 116.66%;
}
h5,
.h5 {
  font-size: 100%;
}
h6,
.h6 {
  font-size: 100%;
}
.block-center {
  margin-left: auto;
  margin-right: auto;
}
/*
 * Fonts require Typekit
 */
.font-Default {
  font-family: Arial, sans-serif;
}
.font-Georgia {
  font-family: Georgia, serif;
}
.font-Arial {
  font-family: Arial, sans-serif;
}
.font-BrandonG {
  font-family: "brandon-grotesque", Arial, sans-serif;
}
.font-Gotham,
.font-Proxima {
  font-family: "proxima-nova", Arial, sans-serif;
}
/* COMPONENTS */
[class^="btn"] {
  display: inline-block;
}
[class^="btn"] span {
  display: block;
}
.btn-normal {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 195px;
}
.btn-normal:visited {
  color: #fff;
}
.btn-normal:hover {
  text-decoration: none;
  color: #f3f3f3;
  cursor: pointer;
}
.btn-normal span {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #3a9dd0;
  background-color: #45a8d6;
  background-image: -moz-linear-gradient(top, #4cb0da, #3a9dd0);
  background-image: -ms-linear-gradient(top, #4cb0da, #3a9dd0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4cb0da), to(#3a9dd0));
  background-image: -webkit-linear-gradient(top, #4cb0da, #3a9dd0);
  background-image: -o-linear-gradient(top, #4cb0da, #3a9dd0);
  background-image: linear-gradient(top, #4cb0da, #3a9dd0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cb0da', endColorstr='#3a9dd0', GradientType=0);
  padding: 5px 5px 2px;
}
.btn-normal i {
  background: url("../media/main-sprite.1.0.png") -376px -35px transparent no-repeat;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 4px;
  position: relative;
  top: -1px;
}
input[type="submit"] {
  border: none;
  outline: none;
}
input[type="submit"]:hover {
  cursor: pointer;
}
.form-classic .input-wrapper.inner-label label {
  font-family: Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  top: 7px;
  left: 12px;
}
.form-classic input[type="text"] {
  background: #fff;
  border: 1px solid #000;
  height: 16px;
}
.form-a label {
  color: #2b4d64;
  font-weight: bold;
}
.form-a input[type="checkbox"] {
  margin-left: 0;
}
.nav-list {
  overflow: hidden;
}
.nav-list li {
  display: inline-block;
  float: left;
}
.list-a {
  margin: 10px auto 10px 80px;
}
.list-a li {
  border-left: 1px solid #aadcff;
  margin-left: 10px;
}
.list-a li:first-child {
  margin-left: 0;
  border-left: none;
}
.list-a a {
  color: #aadcff;
  display: inline-block;
  margin-left: 10px;
}
.list-b li {
  margin-left: 10px;
}
.list-b li:first-child {
  margin-left: 0;
}
ul.red li {
  color: #b8081e;
}
ul.mb5 li {
  margin-bottom: 5px;
}
.thin-top {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.thin-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}
.list-fluid {
  margin-bottom: 10px;
}
.list-fluid li {
  margin-left: 3.33%;
  width: 13.833%;
}
.list-fluid li:first-child {
  margin-left: 0;
}
/* mod */
.mod {
  padding: 10px;
}
.mod .tac {
  text-align: center;
}
.mod.thick-bottom {
  border-bottom: #d3d2c5 6px solid;
}
.mod.bg-ltTan {
  background: #f8f8f7;
}
.mod.mb10 {
  margin-bottom: 10px;
}
.mod .hd,
.mod header {
  border-bottom: 1px solid #000;
  color: #345c80;
  padding-bottom: 3px;
}
.mod .hd h3,
.mod header h3 {
  font-size: 116.66%;
}
.mod .hd h4,
.mod header h4 {
  font-size: 100%;
}
.mod .bd {
  padding: 10px 0;
}
.mod p {
  line-height: 150%;
}
.basic {
  margin-bottom: 10px;
}
/* PANEL A */
.mod.panel-a {
  border-top: #d3d2c5 6px solid;
  padding: 15px 0 10px 0;
}
.mod.panel-a.side-padding {
  padding: 15px 10px 10px;
}
.mod.panel-a.hollow {
  background: none;
}
.mod.panel-a.hollow header,
.mod.panel-a.hollow .hd {
  padding-top: 15px;
}
.mod.panel-a.hollow h4 {
  margin-bottom: 10px;
}
.mod.panel-a.thick {
  padding-left: 15px;
  padding-right: 15px;
  border-top: none;
}
.mod.panel-a.thick .hd {
  border-bottom: #d3d2c5 6px solid;
  padding: 5px 0 15px;
}
.mod.panel-a.thick .hd h2 {
  font-family: Georgia, serif;
  color: #525150;
  font-size: 150%;
  font-weight: normal;
}
.mod.panel-a.medium .hd h4 {
  color: #525150;
}
.mod.panel-a.brd-thin .hd {
  border-width: 1px;
}
.mod.panel-a.brd-bottom {
  border-top: none;
}
.mod.panel-a.brd-bottom .hd {
  border-bottom: 1px solid #ccc;
}
.mod.panel-a header,
.mod.panel-a .hd {
  border-bottom: none;
  padding-top: 0;
}
.mod.panel-a header h4,
.mod.panel-a .hd h4 {
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 183.33%;
  margin: 0;
  color: #29475e;
  text-transform: none;
}
.mod.panel-a header h5,
.mod.panel-a .hd h5 {
  color: #862e27;
  font-family: Georgia, serif;
  text-transform: none;
  font-size: 125%;
  font-weight: 300;
  line-height: 125%;
  margin: 5px 0 0;
}
.mod.panel-a p {
  line-height: 150%;
  font-size: 110%;
  margin: 0;
  padding-right: 10px;
  color: #898989;
}
.mod.panel-a ul {
  color: #898989;
}
/* media block */
.media-block {
  padding: 10px;
}
.media-block.mb10 {
  margin-bottom: 10px;
}
.media-block .media,
.media-block .content {
  float: left;
}
.media-block {
  overflow: hidden;
}
.media-block.no-pad {
  padding: 0;
}
.block-a {
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
.block-a > .media {
  width: 125px;
  margin-right: 30px;
}
.block-a > .content {
  width: 785px;
}
.block-b > .content {
  *zoom: 1;
  float: none;
  overflow: hidden;
  padding-left: 15px;
}
.block-b > .content:before,
.block-b > .content:after {
  display: table;
  content: "";
}
.block-b > .content:after {
  clear: both;
}
/* FEATURES */
